body {
  background-color: #ddd;
}

.hidden {
  display: none;
}

.card-header h1 {
  margin-bottom: -0.25em;
}

.card.bg-secondary {
  margin-top: 1.5em;
}

#fail {
  margin-top: 1.5em;
}

a {
  color: #e44;
}

a:hover {
  color: #ea8;
  font-weight: bolder;
  text-decoration: none;
}
